Prospecting sub-agent.json
{
  "name": "Prospecting sub-agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You find sales prospects, based on a specific query from the user. You use your tools to scrape the websites (If needed) and respond with 2 sales prospects.",
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "e9c79e83-6337-4202-87cd-774e9d749fc9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        224
      ],
      "id": "75cff394-4082-4865-bee4-68bb1ce36f40",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wZZg2YY5kbJ6hmTs",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Prospects\": [\n      {\n        \"firstname\":  \"the prospect's first name here\",\n        \"lastname\": \"their last name\",\n        \"company\": \"where they work\",\n        \"role\": \"what they do\",\n        \"email\": \"pridicted email adderess for this prospect\",\n        \"rationale\": \"why this prospect is qualified as a potential client\"\n      }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        224
      ],
      "id": "729340dd-e9a9-4929-ae67-b176c1b0fc71",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.firecrawl.dev/fc-d602360772214c069e0f1c7c6156a0cd/v2/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "e5fd8afa-27fb-4e69-a844-bd4de7d5b937",
      "name": "MCP Client",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "={{ $json.query }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "typeVersion": 1,
      "position": [
        576,
        224
      ],
      "id": "6425ba71-b55c-4ad6-bde8-cee2df6fe6c2",
      "name": "/search in Firecrawl",
      "credentials": {
        "firecrawlApi": {
          "id": "dFkmKOELOHGKwhMv",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        0
      ],
      "id": "4678af72-3737-44a4-b537-f92a05b61dcd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -192,
        160
      ],
      "id": "5c1433e4-d6a8-4c72-a9e0-fff009dd10c3",
      "name": "When chat message received",
      "webhookId": "4d217184-7986-44dd-b669-d71a789186ed"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "/search in Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f4fdcf98-a401-4f66-b356-3f805f7912c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9931672f9dacc59c4419c63b8bc6e0fd56af69a4df254c44e359ede923557d54"
  },
  "id": "7KJHACDgqcHigq81",
  "tags": []
}